body{
    background-size: cover;
    background-image: url(/home/fatima/Documents/tecladoSonoro/teclado1.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#pt{
    display: flex;
    justify-content: center;
    align-content: center;
}
